@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 356.00 5.00% 100.00%;
    --foreground: 240 10% 3.9%;
    --card: 356.00 5.00% 100.00%;
    --card-foreground: 240 10% 3.9%;
    --popover: 356.00 4.00% 100.00%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 356.00 79.16% 76.50%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 26.00 16.31% 90.51%;
    --secondary-foreground: 240 10% 3.9%;
    --accent: 326.00 18.81% 90.51%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 1.27 71.49% 59.68%;
    --destructive-foreground: 0 0% 98%;
    --muted: 356.00 5.00% 96%;
    --muted-foreground: 240 3.8% 46.1%;
    --border: 356 11.9% 90%;
    --input: 356 11.9% 90%;
    --ring: 356.00 79.16% 76.50%;
  }

  .dark {
    --background: 356.00 15.83% 11.47%;
    --foreground: 0 0% 98%;
    --card: 356.00 15.83% 11.47%;
    --card-foreground: 0 0% 98%;
    --popover: 356.00 11.87% 9.18%;
    --popover-foreground: 0 0% 98%;
    --primary: 356.00 79.16% 51.63%;
    --primary-foreground: 0 0% 98%;
    --secondary: 26.00 82.56% 8.25%;
    --secondary-foreground: 0 0% 98%;
    --accent: 326.00 83.45% 8.25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 1.27 71.49% 59.68%;
    --destructive-foreground: 0 0% 98%;
    --muted: 356.00 15.83% 15%;
    --muted-foreground: 0 0% 63.9%;
    --border: 356 11.9% 15.9%;
    --input: 356 11.9% 15.9%;
    --ring: 356.00 79.16% 51.63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Remove negative margin-bottom from the stats cards section (Components available and Categories available) */
#stats-cards-section {
  margin-bottom: 0 !important;
}
